html{
  font-size: 100%;
}
.row div {
    border: 0.3rem solid white;
    height: 4rem;
    }

.row.blue div {
    background-color: blue;
}
.row.orange div{
      background-color: orange;
 height: 10rem;
}

.row.green div{
  background-color: green;
}
.row.red div{
  background-color: red;
  height: 6rem;
}

@media (min-width: 1024px) {
  .row.blue div{
    height: 6rem;
  }
  .row.orange div{
    height: 15rem;
  }
  .row.green div{
    height: 12rem;
  }
  .row.red div{
    height: 6rem;
  }
 

 

 
